body {
  background-color: $primaryColor;

  &::-webkit-scrollbar {
    width: 0.6rem;

    border-radius: 2.6rem;

    background-color: blanchedalmond;
  }
}

.header {
  box-shadow: 0 0 3rem #333;

  font-size: $defaultFont-size;

  width: 100%;
  height: 10vh;

  padding: 1rem;

  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;

  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;

  background-color: $primaryColor;

  @include flex(row, space-between, center);

  img {
    max-width: 5rem;

    margin-top: 1rem;
    margin-right: 1.6rem;
  }

  input {
    width: 25rem;

    padding: 0.6rem;

    text-indent: 1.8rem;

    border-radius: 3rem;
  }
  .header__nav {
    @include flex(row, space-around, center);

    .header__menu {
      @include flex(row, center, center);

      list-style: none;

      .header__items a {
        display: inline-block;

        margin-right: 2.9rem;

        text-decoration: $all-a;

        color: $quaternaryColor;
      }
    }
  }
}

main {
  background-color: $secondaryColor;
  .init {
    width: 100%;
    height: 85vh;

    background-color: $secondaryColor;

    @include flex(row, space-between, center);

    div {
      width: 100.5rem;

      padding: 1.5rem;

      h1 {
        font-size: $defaultFont-size-H;

        font-weight: 700;
      }
      p {
        @extend %p;
      }
    }

    img {
      width: 100%;

      padding: 1rem;

      border-radius: 2rem;

      object-fit: cover;
    }
  }
  .container__cards {
    width: 100%;
    height: 100vh;

    background-color: $secondaryColor;

    @include flex(row, center, center);

    .container__cards-card {
      @include flex(column, space-evenly, center);

      span {
        @extend %span;

        padding: 1rem;
        border-radius: 1rem;
      }

      img {
        width: 100%;
        height: 49.1rem;

        padding: 1.5rem;

        border-radius: 2rem;
      }

      .blue {
        background-color: $tertiaryground;
      }
      .yellow {
        background-color: $primaryground;
      }
      .green {
        background-color: $secondaryground;
      }
    }
  }

  .div__text {
    text-align: center;

    h2 {
      font-size: 2.3rem;
      font-weight: 700;
    }
    p {
      @extend %p;
    }
  }

  .gallery {
    width: 100%;
    height: 50vh;

    background-color: $secondaryColor;

    white-space: nowrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;

    &::-webkit-scrollbar {
      height: 1rem;

      border-radius: 2.6rem;

      background-color: rgb(255, 255, 241);
    }

    .box {
      img {
        width: 25.5%;
        height: 27.9rem;

        border-radius: 2rem;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 10vh;

  background-color: $tertiaryColor;

  @include flex(row, space-between, center);

  .fab {
    font-size: $defaultFont-size;

    margin-right: 1.5rem;
    margin-left: 2rem;

    color: rgb(133, 89, 89);
  }

  a :hover {
    color: aliceblue;
  }

  p {
    @extend %p;

    margin: 2rem;
  }
}
